@font-face {
  font-family: "MinecraftFive";
  src: url("../assets/fonts/MinecraftFive.woff") format("woff"),
    url("../assets/fonts/MinecraftFive.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "MinecraftSeven";
  src: url("../assets/fonts/MinecraftSeven.woff") format("woff"),
    url("../assets/fonts/MinecraftSeven.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Minecraft Ten";
  src: url("../assets/fonts/MinecraftTen.woff") format("woff"),
    url("../assets/fonts/MinecraftTen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
