/* /Users/jesse/IdeaProjects/beroeps-museum-de-pixel/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

li {
    text-align: center;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    background-size: cover;
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.1);
    overflow: hidden;    
}

a {
    color: white;
    font-size: 1.5em;
    padding: 10vh 0;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

a:hover {
    transform: scale(1.1);
    overflow: hidden;    
}

#minecraft {
    background-image: url("assets/minecraft.jpg");
}

#mario {
    background-image: url("assets/mario.jpg");
    background-position: bottom;
}

#smash {
    background-image: url("assets/smash.jpg");
}