* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: 0 0;
}

.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}

header {
  background-color: #1f1f1f;
  padding: 30px;
  text-align: center;
  border-bottom: 4px solid #111;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

nav ul li a {
  color: #81c784;
  text-decoration: none;
  font-size: 1rem;
  font-family: "MinecraftFive", sans-serif;
}

nav ul li a:hover {
  color: #aed581;
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px 0;
  background-color: #1e1e1e;
  border-top: 4px solid #333;
  border-bottom: 4px solid #111;
}

section h1 {
  font-family: "MinecraftTen", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #81c784;
}

section h2 {
  font-family: "MinecraftSeven", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #81c784;
}

section p {
  font-size: 1rem;
  color: #b0b0b0;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 10px 0;
  border-top: 4px solid #333;
}

footer p {
  color: #81c784;
  font-size: 1rem;
  font-family: "MinecraftTen", sans-serif;
}

a {
  text-decoration: none;
  color: #81c784;
}

a:hover {
  color: #aed581;
  text-decoration: underline;
}

.timeline {
  display: flex;
  padding-top: 10px;
}

.timeline-items {
  display: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.timeline-line {
  width: 0px;
  background-color: #00000000;
  border: #fff dashed 1px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: 10px;
  margin-right: 0px;
}

.timeline-date {
  font-family: "MinecraftFive", sans-serif;
  font-size: 1.2rem;
  color: #e0e0e0;
}

.timeline-item {
  margin-bottom: 20px;
}
