body {
  font-family: "Arial", sans-serif;

  background-color: rgb(0, 0, 0);
}

video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; /* Ensures it covers the entire width */
      min-height: 100%; /* Ensures it covers the entire height */
      z-index: -1; /* Sends the video to the back, behind other content */
    }

    /* Optional: Add some content on top */
    .content {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      font-family: Arial, sans-serif;
    }


li {
  font-size: 10px;
  flex-direction: row;
  text-align: center;
}
.logo {
  display: block;
  margin-left: 425px;
  margin-right: auto;
  margin-top: -100px;
  width: 400px;
}
header {
  width: 100vw;
  position: relative;
  top: -10px;
left: -10px;
}

header {
  position: s;
  background-color: #d81310;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
  flex-direction: row;
}
nav ul{
  flex-direction: row;
  
}


.container {
  width: 100vw;
}

i {
  top: 10px;
  left: 10px;
  font-size: xx-large;
  position: absolute;
}
body {
  font-family: "Press Start 2P", system-ui;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #750f0f;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nintendo-logo{
  position: absolute;
  right: 10px; 
  top: 25px;
  transform: translateY(-40%);
  width: 100px; 
}
