/* /Users/jesse/IdeaProjects/beroeps-museum-de-pixel/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 25px;
}

p {
    color: #fff;
    text-align: center;
    margin: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

li {
    text-align: center;
    overflow: hidden;
}

a {
    color: #fff;
    font-size: 1.7em;
    padding: 11vh 0;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
a:hover {
    transform: scale(1.1);
}

li div:hover {
    transform: scale(1.1);
}

li div {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

#minecraft {
    background-image: url("../assets/minecraft.jpg");
}

#mario {
    background-image: url("../assets/mario.jpg");
    background-position: bottom;
}

#smash {
    background-image: url("../assets/smash.jpg");
}