* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(0, 0, 0);
}

h1 {
  -webkit-text-stroke-width: 2px;
}
img {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border: solid 5px rgb(0, 0, 0);
}
.supermariobros {
  margin: auto;
  width: 100%;
  padding: 40px;
  background-color: rgb(59, 83, 136);
  box-shadow: color(srgb 0 0 0 0) 10px;
  line-height: 100%;
  text-align: center;
  border: solid 5px rgb(0, 0, 0);
}

i {
  top: 10px;
  left: 10px;
  font-size: xx-large;
  position: absolute;
}
body {
  font-family: "Press Start 2P", sans-serif;
}
nav {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
nav ul {
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: row;
}

li {
  margin: 20px;
}

