* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(65, 142, 193);
}
body {
  text-align: center;
}
h1 {
  -webkit-text-stroke-width: 2px;
}
img {
  margin: left;
  height: 300px;
  width: 600px;
}
.supermariobros {
  margin: auto;
  width: 100%;
  padding: 40px;
  background-color: rgb(51, 91, 178);
  border-radius: 0 0 10px 10px;
  box-shadow: color(srgb 0 0 0 0) 10px;
  line-height: 100%;
}
