* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(51, 91, 178);
}
body {
  text-align: center;
}
h1 {
  -webkit-text-stroke-width: 2px;
}
img {
  height: 920px;
  width: 2020px;
  box-sizing: border-box;
  padding: 0;
}
.supermariobros {
  margin: auto;
  width: 100%;
  padding: 40px;
  background-color: rgb(51, 91, 178);
  border-radius: 0 0 10px 10px;
  box-shadow: color(srgb 0 0 0 0) 10px;
  line-height: 100%;
}

i {
  top: 10px;
  left: 10px;
  font-size: xx-large;
  position: absolute;
}
body {
  font-family: "Press Start 2P", cursive;
}
nav ul {
  display: flex;
  text-align: center;
}
nav {
  text-align: center;
}
li {
  margin: 20px;
}
.textcenter {
  text-align: center;
}
